body{
    margin: 0;
}

nav{
    height: 60px;
    color: #e6e6e6;
}

section{
    height: 879px;
    background: linear-gradient(to bottom, #84fab0, #8fd3f4);
}

.content{
    position: absolute;
    color: rgb(24, 24, 24);
}