@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


*{
    margin: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #1f1f1f;
}

nav{
    height: 939px;
}

.page{
  display: none;
}


.list-nav{
    display: flex;
    margin-left: 50%;
}

li{
    list-style: none;
    padding: 12px;
}

a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

#links-nav{
    color: #e5e5e5;
    font-size: 11pt;
    background-color: #3d3d3d;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 20px;
}

#links-nav:hover{
    transition: 0.4s all;
    color: #242424;
    background-color: #e5e5e5;
}

.conteudo{
    position: absolute;
    color: #fff;
    margin-top: -35%;
    margin-left: 10%;
    cursor: default;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

::-webkit-scrollbar-track{
    background: #f64348;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: #343434;
    border-radius: 30px;
}


  .typedtext {
    animation: blinkTextCursor 800ms steps(44) infinite normal;
    margin-bottom: 55px;
    color: #1f1f1f;
    text-decoration: none;
    position: relative;
    background-color: rgba(255, 255, 255, 0.747);
    border-radius: 10px;
  }
  
  @keyframes blinkTextCursor {
    from {
      border-right-color: white;
    }
    to {
      border-right-color: transparent;
    }
  }

.eu-logo {
    position: absolute;
    margin-top: -40%;
    margin-left: 60%;
    width: 500px;
}

.btn-gradient {

    width: auto;
    font-size: 1em;
    padding: 12px 25px;
    border: none;
    outline: none;
    background: #313131;
    color: #fff;
    text-decoration: none;
    position: relative;
    z-index: 0;
    border-radius: 50px;
    position: absolute;
    margin-top: -23%;
    margin-left: 25%;
    text-decoration: none;
}

.btn-gradient::before {
 
  position: absolute;
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  top: -2px;
  background: linear-gradient(124deg, #fff, #fff);
  background-size: 400%;
  z-index: -1;
  filter: blur(3px);
  animation: move 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50px;
  text-decoration: none;
}

.btn-gradient:hover::before { opacity: 1; }

.btn-gradient::after {

  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #242424;
  left: 0;
  top: 0;
  border-radius: 50px;

}

@keyframes move {

  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }

}

@import url(https://fonts.googleapis.com/css?family=Montserrat);


.container-2 {
  display: flex;
/*   border:1px solid red; */
  height: 100%;
  align-items: center;
  position: absolute;
  margin-top: -24%;
  margin-left: 2%;
  width: 200px;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 400px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #fff;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #fff;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #fff;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #fff;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #fff;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

@keyframes pulse {
  0%{
    transform: scale(0.15);
    opacity: 0;
  }

  50%{
    opacity: 1;
  }

  100%{
    transform: scale(1);
    opacity: 0;
  }
}

.pre{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #e5e5e5;

  animation: pulse 1s infinite linear;
}

.box-load{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}